<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Public/css/style.css">
    <title>Document</title>
</head>
<body class="body_sendMail">
    <form  class="fomulaire_sendMail" method="post" action="/">
        <h1 class="title_send_mail"> Sender Mail</h1>
        <div class="form-group form_group_send_form">
            <label for="nom" class="label">Nom</label>
            <input type="text" id="nom" placeholder="veuiller entreer votr nom" name="nom">
        </div>
        <%   if (alert.nom)  { %>
            <div class="validation"><%=errors.nom.msg%></div>
            <% } %>      

        <div class="form-group form_group_send_form">
            <label for="prenom" class="label">Prenom</label>
            <input type="text" id="prenom" placeholder="veuiller entreer votre prenom" name="prenom">
        </div>
        <div class="form-group form_group_send_form">
            <label for="email" class="label">Email</label>
            <input type="text"  id="email" placeholder="veuiller entreer votre email" name="email">
        </div>
        <div class="form-group form_group_send_form">
            <label for="contact" class="label">Contact</label>
            <input type="number" id="contact" placeholder="veuiller entreer votre Numero" name="contact">
        </div>
        <div class="form-group form_group_send_form">
            <label for="password" class="label">Password</label>
            <input type="password" id="contact" id="password" placeholder="veuiller entreer votre password" name="email">
        </div>
        <div class="form-group form_group_send_form">
          
            <input type="file" placeholder="" name="file_upload">
        </div>
        <button type="submit" class="btn_send_mail"> envoyez</button>
    </form>
</body>
</html>